@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);


/* 초기화 */
html,
body {width:100%;}

ol,ul,dl{margin:0;padding:0;list-style-type:none;}
a{text-decoration: none!important;}
a:focus{outline: 0;}
.no-padding{padding: 0;}


/*공통*/
#container:after{display:block;content:"";clear:both}
section{position:relative}
#introduce, #business, #recruit_process, #recruit, #request{padding-top:90px; padding-bottom:130px}
.more_down{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/more_down.png") center center no-repeat}
.more_down2{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/more_down2.png") center center no-repeat}
.scl_top{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/scl_top.png") center center no-repeat}


/* 화면 낭독 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}


/* Header */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {background: transparent;color:#b39768 !important}
.navbar-inverse .navbar-nav li a{color: #fff!important;}


/* 캡챠 자동등록(입력)방지 기본 */
#captcha {display:inline-block;position:relative;margin-bottom:20px; float:left}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha #captcha_img {position:absolute;top:0;left:0;width:101px;height:43px;border:1px solid #e4eaec !important}
#captcha #captcha_mp3 {position:absolute;top:0;left:101px;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_mp3 span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('../../../plugin/kcaptcha/img/sound.gif')}
#captcha #captcha_reload {position:absolute;top:21px;left:101px;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_reload span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('../../../plugin/kcaptcha/img/reload.gif')}
#captcha #captcha_key {position:absolute;top:0;left:101px;padding:0 5px;width:128px;height:43px;border:1px solid #e4eaec !important;
background:#fff !important;font-size:1.333em;font-weight:bold;text-align:center;}
#captcha #captcha_info {display:block;    margin-top: 50px;}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 10px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:35px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:5px 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 버튼 */
a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:center} /* 서식단계 진행 */

.btn_submit {
	height: 36px;
    padding: 0 10px;
    border: 0;
    background: #0597f2;
    color: #fff;
    cursor: pointer;
	font-size: 15px;
    vertical-align: middle;
	border-radius: 3px;
	}
fieldset .btn_submit {padding:0 7px;/*height:24px;line-height:1em*/}

a.btn_cancel {display:inline-block;/*padding:6px 35px;*/border:1px solid #ddd;background:#eee;color:#000;text-decoration:none;vertical-align:middle; border-radius: 3px;}
button.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}

a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:24px;border:0;background:#333;color:#fff;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {line-height:24px}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01 {display:inline-block;padding:3px 10px;border:1px solid #717272;background:#717272;color:#ffffff;text-decoration:none;vertical-align:middle}
a.btn_b01:focus, .btn_b01:hover {text-decoration:none;}
a.btn_b02 {display:inline-block;padding:3px 10px;border:1px solid #e9e9e9;text-decoration:none;vertical-align:middle;color:#333333;background-color: #fff;}
a.btn_b02:focus, .btn_b02:hover {text-decoration:none; background:#333333;color:#fff; transition: all 0.4s ease;}
a.btn_admin {display:inline-block;padding:3px 10px;border:1px solid #e9e9e9;background:#fff;color:#333333;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover {text-decoration:none; background:#333333;color:#fff; transition: all 0.4s ease;}

/* 댓글 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}

.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:12px 0;border:1px solid #d1dee2;background:#333;color:#fff;font-size:0.95em;text-align:center}
.tbl_head01 thead a {}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {padding:8px 5px;border-top:1px solid #e9e9e9;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;border-left: 1px solid #e9e9e9;line-height:1.5em;word-break:break-all;color:#666;font-weight:normal;vertical-align: middle;}
.tbl_head01 a {color: #555;}
.tbl_head01 .copymove_current{color:red;}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;text-align:left;vertical-align: middle;}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_frm01 textarea, .frm_input {border:1px solid #e4eaec;background:#f7f7f7;color:#000;height: 30px; width: 100%;margin-bottom: 10px;padding: 5px 2px;}
.tbl_frm01 textarea {padding:2px 2px 3px;}
.tbl_frm01 textarea {width:98%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/* 자료 없는 목록 */
.empty_table {padding:50px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 필수입력 */
.required, textarea.required {background:url('../../../img/wrest.gif') #fff top right no-repeat !important; font-family: "nanumG"; text-indent: 5px; font-size: 15px; width: 99%; resize: none;}
@media screen and (max-width:640px){
	.required, textarea.required{width: 100%;}
	.tbl_frm01 textarea, .frm_input{width: 100%;}
	.tbl_frm01 th{padding: 0;}
	#captcha{width: 100%;}
	#captcha_audio{margin-top: 50px;}
}
/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center; border:1px solid #e9e9e9;}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {padding: 20px;}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {margin:0 0 20px;padding:20px;border-top:3px solid #333;border-bottom:1px solid #dde4e9;background:#fff;font-size:1.2em}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win_con{overflow: hidden;}
.new_win .win_ul {margin:-20px 0 20px 0;padding:0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;margin-left:-1px}
.new_win .win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-family:dotum;font-weight:bold;text-decoration:none}
.new_win .win_desc {padding:20px}


.new_win .win_btn {clear:both;padding:20px;text-align:center} /* 새창용 */
.new_win .win_btn button {display:inline-block;padding:0 10px;height:30px;border:1px solid #4b545e;color:#4b545e;line-height:2em;cursor:pointer;border-radius:8px;background:#fff}
.new_win .win_btn input {padding:0 10px;height:30px;line-height:2em}
.new_win .win_btn a {display:inline-block;padding:0 10px;height:30px;background:#4b545e;color:#fff;vertical-align:middle;line-height:2.4em}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}
.new_win .btn_close{ border: none; padding: 10px 30px;background: #00437b;color: #fff;}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {}
.pg_page, .pg_current {display:inline-block;height:25px;color:#f5999c;letter-spacing:0;line-height:30px;vertical-align:middle;text-align: center;min-width: 30px; height: 30px;}
.pg a {}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {text-decoration:none;border:1px solid #eee;border-radius:8px; margin-right: 4px;}
.pg_page:hover{border:1px solid #77d3f7 ;}
.pg_start, .pg_prev {width: 40px;}
.pg_end, .pg_next {width: 40px;}
.pg_current {display:inline-block;margin:0 4px 0 0;background:#f5999c;color:#fff;font-weight:normal;border-radius:8px;}

/* 팝업레이어 */
#hd_pop {z-index:999999;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff;margin: 10px;}
.hd_pops img{width: 100%;}
.hd_pops_con {}
.hd_pops_footer {padding: 0;background:#000;color:#fff;text-align:left;position:relative;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding: 10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject{background:#000;text-align:left}
.hd_pops_footer .hd_pops_close{background:#393939;position:absolute;top:0;right:0}
@media screen and (max-width:640px){
	.hd_pops{top:50px !important;left: 0 !important;}
	.hd_pops_con{width: 100% !important;height: 100% !important;top:0;left: 0;}
}


/* common style */
.auto {margin: 0 auto !important;}
.m0 {margin: 0 !important;}
.mb0 {margin-bottom: 0 !important;}
.mt0 {margin-top: 0 !important;}
.p0 {padding: 0 !important;}
.pb0 {padding-bottom: 0 !important;}
.pt0 {padding-top: 0 !important;}

.fw300 {font-weight: 300 !important;}
.fw500 {font-weight: 500 !important;}
.fw700 {font-weight: 700 !important;}
.fw900 {font-weight: 900 !important;}

.tac {text-align: center !important;}
.tal {text-align: left !important;}
.tar {text-align: right !important;}

.w-100 {width: 100%;}

/* reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body {width:100%;}
ol,ul,dl {margin:0; padding:0; list-style-type:none;}
a {text-decoration: none!important;}
a:focus {outline: 0;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0;	font-size: 100%; font: inherit;	vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0; max-width: 100%; background-color: transparent;}