/* ============================ main style start ============================= */
@charset "utf-8";

/* youtube responsive*/
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.swiper-slide img {width: 100%;}

main {position: relative;}
.content:first-of-type {padding-top: 0;}
#footer {border-top: none;}
#header {position: fixed;}
.slide img{width: 100%;}
div.active > div{ /* transform: scale(1.05); */ /* transition: 5s;  */-webkit-animation-duration: 2s; /* transform:perspective(100px) translateZ(5px); */
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

 }
*{-webkit-font-smoothing: subpixel-antialiased;}
.slide > div{position: relative;}
.slide:first-child > div{background: url(../img/main/slide_01.jpg) center/cover no-repeat;}
.slide:nth-child(2) > div{background: url(../img/main/slide_02.jpg) center/cover no-repeat;}
.slide:nth-child(3) > div{background: url(../img/main/slide_05.jpg) center/cover no-repeat;}
.slide:nth-child(4) > div{background: url(../img/main/slide_06.jpg) center/cover no-repeat;}
.slide:nth-child(5) > div{background: url(../img/main/slide_07.jpg) center/cover no-repeat;}
.slide:last-child > div{background: url(../img/main/slide_04.jpg) center/cover no-repeat;}

.slidetxt{position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%); color: #fff; text-align: center;}
.slidetxt span{color: rgba(255,255,255,0.7); letter-spacing: 8px; font-size: 13px; margin-bottom: 3%; display: inline-block;}
.slidetxt h5{color: #fff; white-space: pre-line; font-size: 42px; margin-bottom: 2%;}
.slidetxt hr{color: #fff; background-color: #fff;}
.slidetxt p{color: #fff; white-space: pre-line; font-size: 18px; margin-top: 2%; display: inline-block;}

.slide5-icon{display: flex;margin: 0 auto;width: 100%;max-width: 1200px; margin-top: 400px;}
.slide5-icon li{flex:1; text-align: center; border-right: 1px solid #fff;}
.slide5-icon li:last-child{border: none;}
.slide5-icon li h5{color: #fff; text-align: center; margin-top: 3%;}
/* .slide2 .slidetxt{display: none;}
.slide3 .slidetxt{display: none;} */


/* area1 */
.area1-wrap li{transition: 0.5s; display: flex; justify-content: center; align-items: flex-start; text-align: center; color: #fff;  transform:perspective(100px);}
.area1-wrap li:first-child{background: url(../img/main/area1_bg1.jpg) center/cover no-repeat; filter:brightness(70%);}
.area1-wrap li:nth-child(2){background: url(../img/main/area1_bg2.jpg) center/cover no-repeat; filter:brightness(70%);}
.area1-wrap li:nth-child(3){background: url(../img/main/area1_bg3.jpg) center/cover no-repeat; filter:brightness(70%);}
.area1-wrap li:last-child{background: url(../img/main/area1_bg4.jpg) center/cover no-repeat; filter:brightness(70%);}
.area1-wrap{height: 100%; }
.area1-wrap li > div{position: relative; width: 100%;}
.area1-wrap li:hover{filter:brightness(110%); /* transform: scale(1.02); */ transition: 1s; transform:perspective(100px) translateZ(2px);}
.area1-wrap .area1txt{ position: relative; top: 15%;}
.area1-wrap .area1txt h5{font-size: 20px; font-weight: 400; margin-bottom: 50px; letter-spacing: 2px;}
.area1-wrap .area1txt p{font-size: 22px; white-space: pre-line; margin-bottom: 30px;}
.area1-wrap .area1txt span{font-size: 48px; font-weight: 500; display: inline-block;}
.area1-wrap .area1txt a{font-size: 16px; display: inline-block; color: #fff; border: 1px solid #fff; padding: 2% 10%; transition: 0.5s; letter-spacing: 3px;}
.area1-wrap .area1txt a:hover{background-color: #fff; color: #111; border: 1px solid #a89483; transform:perspective(100px) translateZ(5px);}
/* area1 */

/* area2 */
.area2{position: relative;}
.left-box{position: absolute; left: 0; top: 0; height: 100%; background-color: #f7f7f7; width: 30%;}
.left-box p{position: absolute; right: 0; top: 22%; font-size: 26px; color: #555; letter-spacing: 1px; margin-right: 5%; font-weight: 500;}
.area2-wrap{position: relative; z-index: 99; height: 100%;}
.area2-wrap h5{font-size: 42px; white-space: pre-line; font-weight: 500; position: relative; top: 20%; left: 33%; color: #333; z-index: 999;}
.sub-col-3{margin-top: 15% !important; max-width: 1200px; margin: 0 auto;}
.sub-col-3 li{cursor: pointer; transition:0.5s}
.sub-col-3 li:hover{transform: scale(1.05);}
.sub-col-3 img{width: 100%;}
.area2-sub li{box-shadow: rgba(197, 197, 197) 8px 20px 39px -14px; position: relative; background-color: #fff;}
.area2-sub div{position: absolute; top: 0; width: 100%; text-align: center;}
.area2-sub div h6{font-weight: 500; margin-top: 7%; margin-bottom: 4%;}
.area2-sub div p{color: #aaa; letter-spacing: 4px; font-size: 13px;}

/* area2 */

/* area3 */
.area3{position: relative;}
.area3-wrap > h5{font-size: 42px; white-space: pre-line; font-weight: 500; position: relative; top: 20%; color: #333; text-align: right; right: 33%;}
.area3 .right-box{left: auto; right: 0; background-color: #8fc8e6;}
.area3 .right-box p{right: auto; left: 0; margin-right: 0; margin-left: 5%; color: #fff; text-align: right;}
.area3-wrap {position: relative; z-index: 99; height: 100%;}
.area3-sub {max-width: 1200px; margin: 0 auto; margin-top: 250px;}
.area3-sub > li:first-child{padding: 10px 40px; box-shadow: rgba(197, 197, 197) 8px 20px 39px -14px; background-color: #1f92cd; /* color: #fff; */ padding-bottom: 9%;}
.area3-sub h5{white-space: pre-line; font-weight: 500;}
.area3-sub > li:first-child h5{margin-bottom: 15%; font-weight: 500;}
.area3-sub span{display: block; width: 100%; margin: 0 auto; background-color: #fff; border-radius: 20px; margin-bottom: 7%; color: #111; text-align: center; padding: 8px 0; cursor: pointer;}
.area3-sub span:hover{background-color: #c6e8f9; transform: scale(1.05);}
.area3-sub li ul li{width: 100%; padding: 10px 40px; box-shadow: rgba(197, 197, 197) 8px 20px 39px -14px; background-color: #fff; height: 48%; cursor: pointer; transition: 0.5s;}
.area3-sub li ul{height: 100%;}
.area3-sub li ul li:first-child{margin-bottom: 4%;}

.area3-sub li ul li div{transition: 0.5s;}
.vis-hidden{visibility: hidden;}
.vis-normal{visibility: visible;}

.area3-sub .area3-hoverbox{background-color: #1f92cd; color: #fff; display: none;}
.area3-sub .area3-hoverbox p{font-size: 16px; white-space: pre-line; margin-top: 20px;}

.area3-sub01{background: #fff url(../img/main/area3_bg_00.jpg) no-repeat; background-position: center; background-size: cover;}
.area3-sub02{background: #fff url(../img/main/area3_bg_01.jpg) no-repeat; background-position: right bottom; background-size:50%;}
.area3-sub03{background: #fff url(../img/main/area3_bg_02.jpg) no-repeat; background-position: right bottom; background-size:50%;}
.area3-sub04{background: #fff url(../img/main/area3_bg_03.jpg) no-repeat; background-position: right bottom; background-size:40%;}
.area3-sub05{background: #fff url(../img/main/area3_bg_04.jpg) no-repeat; background-position: right bottom; background-size:40%;}
.area3-sub-hover{background: #1f92cd !important;}
/* area3 */


/* area6 */
.area6-txt {display: flex; align-items: center; height: 100%;}
.area6-txt p{font-size: 20px; letter-spacing: 1px;}
.area6-txt h5{font-size: 36px;}
.area6-txt b{letter-spacing: 10px; font-weight: 600;}
.area6-txt span{display: inline-block; height: 100%;}
.sign-area {display: flex; align-items: center; margin-top: 3%;}
.go-btn{margin-top: 7%; display: inline-block;}
.area6 .col-2 li:last-child{padding-left: 7%;}
.area6 .col-2{align-items: center; height: 100%;}
.doctor{background: url(../img/main/doctor_02.jpg) center/cover no-repeat; height: 100%;}
/* area6 */

/* area4(footer) */
.footer-bg{background: url(../img/main/footer_bg.jpg)center/cover no-repeat; width: 100%; height: 30%;}
.area4-wrap{height: 100%; width: 100%; color: #fff; max-width: 1200px; margin: 0 auto;}
.area4-wrap li span{font-size: 22px;}
.area4-wrap ul > li > div{display: flex; margin-top: 7%;}
.area4-wrap ul.icon-list{display: flex; align-items: center; width: 100%; text-align: center;}
.area4-wrap ul.icon-list li{width: 100%; cursor: pointer;}
.area4-wrap ul.icon-list p{font-size: 14px; padding-top: 3%;}
.phone-num{font-size: 38px; font-weight: 500; margin-left: 5%;}
.area4-wrap a{color: #fff;}
.info_time div{display:flex;  align-items: center; }

.info_time {margin-left: 5%; width: 100%;}
.info_time p{margin-left: 5%;}
.info_time span{width: 100px; text-align-last: justify;}
.info_time div.notice{margin-top: 5%; display:block;}
.info_time div.notice p{margin-left: 0;}

.map_area{align-items: center;}
.map_area p{color: #f80; font-weight: 500; font-size: 20px; margin-left: 5%;}
.root_daum_roughmap{margin-top: 5%; padding-top: 5%;}

.parking, .naver{margin-top: 3% !important;}

.parking p{font-weight: 500; font-size: 20px; margin-left: 5%; white-space: pre-line;}

.naver p{margin-left: 5%; font-size: 15px;}
.naver b{font-size: 20px;}
.n_span{color: #1EC800; font-size: 28px !important;}
/* area4(footer) */
  

.area{width: 100%; height: 100%;}
.area1{background-color: #958666;}
.area2{background-color: #fff;}
.area3{background-color: #fff;}
.area4{background-color: #343434;}
.area5{background-color: #f5deb6;}
.area6{background-color: #f7f7f7;}
.area10{background-color: #aaa;}
.m-area{display: none !important;}
.footerArea, .footerArea div{height: auto !important;}
.fp-slide img{max-width:none !important;}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{display: none;}
.fp-slidesNav.bottom{text-align: center;}
#fp-nav ul li a span, .fp-slidesNav ul li a span{background-color: #fff;}




/* col */
.col-4, .col-3, .col-2{display:flex; flex-wrap: wrap; justify-content: center; width: 100%;}
.col-4 li{width: 25%;}
.col-2 li{width: 50%;}
.col-3 li{width: calc(33.3% - 2%); }
.col-3 li:nth-child(2), .col-3 li:nth-child(3){margin-left: 2%;}
/* col */

/* loading */
.loading{width: 100%; height: 100%; position: fixed; top: 0; left: 0; background-color: #fff; z-index: 99999999;}
/* loading */


/* ===================== Mobile size : 1500px ======================= */

@media screen and (max-width:1500px){

}


/* ===================== Mobile size : 1200px ======================= */

@media screen and (max-width:1201px){

	.area3-sub{margin-top: 18% !important;}
}


/* ===================== Mobile size : 1024px ======================= */

@media screen and (max-width:1025px){
	.sub-col-3{margin-top: 30% !important;}
	.area3-sub{margin-top: 24% !important;}
	.area3-sub h5{font-size: 22px;}
}

/* ===================== Mobile size : 767px ======================= */

@media screen and (max-width:769px){
	.area1-wrap li{width: 50%;}
	.area1-wrap .area1txt h5{margin-top: 30px;}
	.left-box{width: 100%; height: 20%;}
	.left-box p{transform:translate(-50%, -50%); right: auto; left: 50%; margin-right: 0; text-align: center; bottom: 0; top:auto; font-size: 20px;}
	.area2-wrap h5{text-align: center; left: auto; font-size: 36px; line-height: 46px; top: 22%;}
	.sub-col-3{position: relative; top: 55%; transform:translateY(-50%); margin-top: 0 !important;}
	.sub-col-3 li{width: 40%;}
	.sub-col-3 li:last-child{margin-top: 2%;}
	.col-2 li{width: 100%; max-height: 460px; max-width: 460px;}
	.sign-area{justify-content: center;}

	.area3 .right-box p{margin-left: 0; left: 50%; text-align: center;}
	.area3-wrap > h5{text-align: center; right: auto; font-size: 36px; line-height: 46px; top: 22%;}
	.area3-sub{margin-top: 250px !important;}
	.area3-sub li ul li{padding: 10px 10px;}
	.area3-sub > li:first-child{padding: 10% 20px;}
	.area3-sub .area3-hoverbox p{font-size: 14px;}

	/* .pc-area{display: none !important;} */
	.m-area{display: table !important;}
	.doctor{height: 50%;}

	.area6-txt{text-align: center;}
	.area1-wrap li:hover{transform:none;}

	.slide:nth-child(3) > div{background: url(../img/main/m_slide_05.jpg) no-repeat; background-size: cover; background-position: center;}
	.area6li{display: flex; justify-content: center; padding-left: 0;}

	.wrap_map{height: 400px !important;}
	.map_area{margin-top: 40% !important;}
	.naver{margin-top: 40% !important;}
	.parking{height: 100%;}
	
	.m-footer > div{vertical-align : top;}
	.m-footer > div > div{height: auto !important; padding-bottom: 8%;}
	.m-footer .area4-wrap{height: auto;}
}
	

/* ===================== Mobile size : 425px ======================= */

@media screen and (max-width:426px){
	.slidetxt span{letter-spacing: 5px; font-size: 11px; margin-bottom: 0;}
	.slidetxt h5{font-size: 24px;}
	.slidetxt {width: 100%;}
	.slidetxt p{font-size: 14px;}

	.slide5-icon{margin-top: 250px;}
	.slide5-icon svg{width: 40px; height: 40px;}
	.slide5-icon li h5{font-size: 14px;}


	.area2-wrap h5{font-size: 22px; line-height: 30px;}
	.area2-sub{display: block;}
	.area2-sub li:nth-child(2), .area2-sub li:nth-child(3){margin-left: 0 !important; margin-top: 2%;}
	.left-box p{font-size: 14px;}
	.sub-col-3{top: 50%; padding: 0 5%;}
	.sub-col-3 li{width: 100%; display: flex; align-items: center; margin: 5% -0px; border: 1px solid #ccc;}
	.sub-col-3 img{width: 50%;}
	.area2-sub div{position: relative; width: 50%;}
	.area2-sub div p{font-size: 11px; letter-spacing: 2px;}
	.area1-wrap .area1txt span{font-size: 24px;}

	.area1-wrap .area1txt h5{font-size: 14px; margin-bottom: 20px;}
	.area1-wrap .area1txt p{font-size: 15px;}
	.area1-wrap .area1txt a{letter-spacing: 1px; font-size: 12px;}

	.area6-txt p{font-size: 14px; letter-spacing: 1px;}
	.area6-txt h5{font-size: 24px;}
	.sign-area img{max-width: 150px;}


	.area3-sub{margin-top: 25% !important;}
	.area3-sub > li:first-child{width: 80%; padding: 0; padding: 10px 30px; text-align: center;}
	.area3-sub > li:first-child h5{margin-bottom: 3%;}
	.area3-sub section{display:flex; text-align: center; justify-content: space-between;}
	.area3-sub section div{width: 48%;}
	.area3-wrap > h5{font-size: 22px; line-height: 30px; top: 12%;}
	.area3-sub span{font-size: 11px; padding: 4px 4px;}
	.area3 .right-box{display: none;}
	.area3-sub > li{width: calc(41% - 2%); margin-left: 0;}
	.area3-sub li:nth-child(2){margin-left: 0 !important; margin-top: 2%;}
	.area3-sub li:nth-child(3){margin-top: 2%;}
	.area3-sub h5{font-size: 13px;}
	.area3-sub .area3-hoverbox p{font-size: 3vw; margin-top: 1vw;     white-space: inherit;}
	.area3-sub li ul li{height: 40vw;}


	.footer-bg{display: none;}
	.area4-wrap ul > li > div{display: block; margin-top: 3%; text-align: center;}
	.area4-wrap li span{font-size: 5vw;}
	.info_time p{font-size: 4vw;}
	.map_area{margin-top: 28% !important;}
	.map_area p{margin-left: 0; font-size: 14px;}
	.parking p{margin-left: 0; font-size: 14px;}
	.naver{display: flex !important; align-items: center !important; text-align: left !important; margin-top:28% !important; justify-content: center;}
	.naver img{max-width: 50px;}
	.naver a{margin-right: 5%;}
	.naver p{margin-left: 0; font-size: 4vw;}
	.naver b{font-size: 16px;}

	.area4-wrap ul.icon-list p{font-size: 12px;}
	.area4-wrap ul.icon-list{margin-top: 3%;}
	.haon{margin-top: 28% !important;}
	.phone-num{margin-left: 0; font-size: 24px;}
	.info_time{margin-left: 0; margin-top: 3%; }
	.info_time div{justify-content: space-evenly;}

	#footer ul li:nth-child(2n){display: none;}
	#footer ul{align-items: center; flex-wrap: wrap;}
	#footer ul li:nth-child(2n-1){width: 50%; margin: 5px 0;}

	.wrap_map{height: 270px !important;}

	.area2-sub div h6{margin-top: 0;}

	

	

}

/* ===================== Mobile size : 366px ======================= */

@media screen and (max-width:366px){
	.slide-img{max-width: 240px !important;}
	
}